.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 35dvh;
    background-color: white;
}

.patientImage {
    border-radius: 50%;
    max-width: 30%;
}

.userInfoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 80%;
    margin-top: 30px;
    margin-left: 50px;
}

.textMain {
    font-weight: 700;
    font-size: 24px;
}

.text {
    font-weight: 700;
    font-size: 16px;
}

.textLight {
    font-weight: 700;
    font-size: 16px;
    color: gray;
}